.product-desc{
    display: flex;
    max-width: 80%;
    margin: 20px auto;
}

.details{
    padding: 20px 30px;
}

.details h2{
    font-size: 2rem;
}

.details p{
    line-height: 1.5;
    margin: 10px 0;
}

.price{
    margin: 10px 0;
}

.btn{
    margin: 20px 0;
    background-color: rgba(150, 119, 51, 0.5);
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    width: 150px;
    letter-spacing: 0.2rem;
}